* {
    --dark-color: #535c68;
}

header {
    width: 100vw;
    height: 100vh;
    background: url(../images/background.jpg) top no-repeat;
    background-size: cover;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.header__text-box {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .header__text-box--name {
        font-size: 8vw;
        font-weight: bold;
    }

    .header__text-box--description {
        font-size: 2vw;
        font-weight: normal;
    }
}

@media (min-width: 801px) {
    .header__text-box--name {
        font-size: 5vw;
        font-weight: bold;
    }

    .header__text-box--description {
        font-size: 1vw;
        font-weight: normal;
    }
}

.about-me {
    width: 100vw;
    height: 100vh;
    background-color: gray;
}